.pagination {
    margin: 20px;
}

.pagination span {
    color: black;
    background: #fff;
    padding: 6px 16px 10px;
    border: 2px solid #548eaa;
    cursor: pointer;
    margin: 3px;
}

.selectedPage {
    background: #5f8ca3 !important;
    font-weight: bold;
    color: #fff !important;
}

.pagination button {
    padding: 11px 16px;
    background: #fff;
    outline: none;
    cursor: pointer;
    border: 2px solid #548eaa;
}

.pagination .buttonLeft {
    margin-right: 9px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination .buttonRight {
    margin-left: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}