.formControl {
    padding: 5px;
}

.formControl textarea {
    width: 500px;
    height: 100px;
}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
    margin-top: 10px;
}

.formControl.error span {
    color: red;
}

.formSumaryError {
    display: inline-block;
    padding: 10px;
    color: red;
    background: rgb(97, 0, 0);
}