.nav {
  grid-area: nav;
  padding-top: 10px;
  height: 240px;
  background: #224b7a;
}
.item {
  display: block;
  padding: 6px 18px;
  transition: .3s;
  margin-bottom: 3px;
  text-decoration: none;
  color: #fff;
}
.item:hover {
  background: #0d0d5f;
}
.item.active {
  background: #0d0d5f;
}