.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems a {
    text-decoration: none;
    color: #fff;
}

.dialogsItems a.active {
    background: #5682a3;
}

.messages {
    padding: 10px;
}

.message {

}